form {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1rem;
    margin-inline: auto;
}
h3 {
    text-align: center;
}
input, button {
    height: 25px;
}
a {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 50%;
    margin-inline: auto;
}